html,
body {
 width: 100%;
 height: 100%;
 margin: 0;
 padding: 0;
 overflow-x: hidden;
}

body {
 position: relative;
}

/* ------------ GENERAL ----------*/

main {
 position: relative;
 color: #b5a945;
 background-image: url("../images/rocketsilencehero.png");
 background-size: cover;
 background-attachment: fixed;
 background-position: center;
}

.jp {
 font-weight: bolder;
 font-size: 18px;
}

.translucent-overlay {
 position: relative;
}

.translucent-overlay:after {
 content: " ";
 z-index: 2;
 display: block;
 position: absolute;
 height: 100%;
 top: 0;
 left: 0;
 right: 0;
 background: rgba(0, 0, 0, 0.5);
}

.heading {
 position: relative;
 z-index: 5;
 display: block;
 margin-left: auto;
 margin-right: auto;
 padding-top: 4%;
 padding-bottom: 4%;
}

.japanese-heading {
 font-size: 4em;
 text-align: center;
 font-weight: bold;
 padding-top: 3%;
 padding-bottom: 3%;
 z-index: 5;
 position: relative;
 color: #b5a945;
 text-shadow: 1px 1px black;
}

a:link {
 text-decoration: none;
 text-shadow: none;
 position: relative;
 color: #b5a945;
}

a {
 color: #b5a945;
 transition: all 0.2s ease-in;
 -moz-transition: all 0.2s ease-in;
 -o-transition: all 0.2s ease-in;
 -webkit-transition: all 0.2s ease-in;
}

a:hover {
 color: #fdec6e;
 text-shadow: 0px 0px 25px #fdec6e;
 transition: all 0.2s ease-in;
 -moz-transition: all 0.2s ease-in;
 -o-transition: all 0.2s ease-in;
 -webkit-transition: all 0.2s ease-in;
}

audio,
.btn,
.thumbnail,
.social-links li a {
 text-decoration: none;
 transition: all 0.2s ease-in;
 -moz-transition: all 0.2s ease-in;
 -o-transition: all 0.2s ease-in;
 -webkit-transition: all 0.2s ease-in;
}

.flag:hover,
audio:hover,
.btn:hover,
.thumbnail:hover,
.social-links li a:hover {
 box-shadow: 0px 0px 20px #fdec6e;
 -moz-transition: all 0.2s ease-in;
 -o-transition: all 0.2s ease-in;
 -webkit-transition: all 0.2s ease-in;
}

.btn:focus,
.btn:active,
.btn:active:focus {
 background-color: #b5a945;
 border-color: #b5a945;
 color: #18542e;
 outline: none;
 box-shadow: none;
 text-shadow: 1px 1px #000;
}

/* ------------ NAVBAR ----------*/

.navbar {
 background-color: #111D13;
 border-color: transparent;
 left: 0;
 right: 0;
 border-radius: 0;
 top: 0;
 z-index: 7;
 overflow-x: hidden;
}

.navbar-brand {
 padding-left: 0;
 padding-top: 10px;
 right: 0;
 position: fixed;
}

.navbar-nav {
 padding-top: 0;
 padding-right: 0;
}

.fa.fa-bars {
 color: #b5a945;
 width: 50px;
 z-index: 5;
}

.navbar {
 padding: 0;
}

.nav-image {
 width: 25%;
}

.nav-item {
 padding-left: 5px;
 padding-right: 5px;
 padding-top: 0;
 color: #b5a945;
}


.flag {
 height: 25px;
 width: 30px;
 border-color: transparent;
 background-color: transparent;
 text-align: center;
 border-radius: 5px;
}

.japanese,
.english {
 padding-top: 5px;
 padding-left: 5px;
 padding-right: 5px;
 position: relative;
 z-index: 6;
}


.tooltip-inner {
 background-color: #233F29;
 color: #b5a945;
 text-shadow: 1px 1px black;
}

.tooltip.bs-tooltip-auto[x-placement^=left] .arrow::before,
.tooltip.bs-tooltip-left .arrow::before {
 border-left-color: #233F29;
}

/* ------------ JUMBOTRON ----------*/

.jumbotron {
 background-image: url("../images/header-image.jpg");
 border-radius: 0;
 background-size: cover;
 background-repeat: no-repeat;
 background-position: center;
 padding: 0;
 margin: 0;
 height: 93vh;
}

/* ------------ VIDEO ----------*/

iframe {
 position: relative;
 z-index: 5;
}

/* ------------ TOUR DATES ----------*/

.table {
 position: relative;
 width: 100%;
 text-align: center;
}

.table td,
.table {
 vertical-align: middle;
 position: relative;
 z-index: 5;
}

.date-table {
 color: #ffffff;
 font-weight: normal;
 text-shadow: 1px 1px black;
}

.tourdates-table.row {
 padding: 0;
 margin: 0;
}

.btn {
 background-color: #18542e;
 border-color: #18542e;
 color: #b5a945;
 font-weight: bold;
 text-transform: uppercase;
}

.btn:hover,
.btn:focus,
.btn:active .btn:active:focus,
.btn.active:focus {
 background-color: #b5a945;
 border-color: #b5a945;
 color: #18542e;
 text-shadow: 1px 1px #000;
}

.btn.j {
 font-weight: bold;
}

/* ------------ ABOUT ----------*/

.member {
 text-align: center;
 z-index: 5;
 margin: auto;
 width: 100%;
}

.card {
 border: none;
 float: none;
 margin: 0 auto;
}

hr {
 border: 0;
 position: relative;
 z-index: 5;
 display: block;
 width: 100%;
 background-color: white;
 height: 1px;
}

.card-about {
 padding: 5px;
 padding-bottom: 0;
}


.member-bio {
 padding: 0;
 font-size: 18px;
 text-align: center;
 text-shadow: 1px 1px black;
}

.name-instrument {
 text-shadow: 1px 1px black;
}

/* ------------ MUSIC ----------*/

.card {
 z-index: 5;
 text-align: center;
 color: #ffffff;
}

audio {
 border-radius: 30px;
}

/* ------------ GALLERY ----------*/

.img-fluid {
 max-width: 100%;
 height: auto;
 position: relative;
 z-index: 5;
}

.fancybox-item {
 align-items: center;
 flex-wrap: wrap;
}

.thumbnail {
 border-radius: 5px;
}

/* ------------ CONTACT ----------*/

.form-control {
 position: relative;
 z-index: 5;
 min-width: 50%;
 max-width: 50%;
 margin: 0 auto;
 padding: 7px 0;
}

.form-control:hover,
.form-control:focus {
 border-color: #b5a945;
 box-shadow: 0px 1px 5px #b5a945 inset, 0px 0px 10px #b5a945;
}

.submit-button.btn:hover,
.submit-button.btn:focus,
.submit-button.btn:active .submit-button.btn:active:focus,
.submit-button.btn:focus {
 background-color: #b5a945;
 border-color: #b5a945;
 color: #18542e;
 text-shadow: 1px 1px #000;
}

.submit-button.btn {
 background-color: #18542e;
 border-color: #18542e;
 color: #b5a945;
 font-weight: bold;
 position: relative;
 z-index: 5;
 margin: 0 auto;
 display: block;
 text-transform: uppercase;
}

/* ------------ FOOTER ----------*/

footer {
 background-color: #000;
 color: #b5a945;
 height: 30px;
 margin: 0;
 border-color: #000;
}

.list-inline {
 padding-top: 15px;
}

.footer-row {
 height: 75px;
 background-color: #000;
}

.copyright {
 margin-bottom: 0;
 padding-left: 1%;
}

.social-links {
 margin-bottom: 0;
 padding-left: 0;
 padding-right: 1%;
 margin-left: auto;
}

.social-links li a {
 border-radius: 50%;
}

.social-links li a i {
 width: 32px;
 height: 32px;
 padding: 12px 0;
 border-radius: 50%;
 font-size: 18px;
 line-height: 8px;
 text-align: center;
 color: #b5a945;
 background-color: #18542e;
 transition: all 0.35s ease-in-out;
 -o-transition: all 0.35s ease-in-out;
 -webkit-transition: all 0.35s ease-in-out;
 -moz-transition: all 0.35s ease-in-out;
}

.social-links li a i:hover {
 background-color: #b5a945;
 font-weight: bold;
 color: #18542e;
}

/*----------------- MEDIA QUERIES -----------------*/

/* ------------ SMALL DEVICES ----------*/

@media screen and (max-width: 600px) {

 .brand-image {
  width: 100%;
 }
 .navbar-brand {
  width: 250px;
  margin-right: 0;
  padding-left: 5px;
  padding-top: 5px;
 }

 .nav-link {
  padding-right: 2.5%;
 }

 .flag {
  margin-right: 2.5%;
 }

 .fa.fa-bars {
  padding-top: 5px;
 }

 .heading {
  width: 90%;
 }

 .about h2 img,
 .music h2 img {
  width: 65%;
 }

 .japanese-heading {
  font-size: 2.2rem
 }

 .card-img-top {
  padding-left: 2.5%;
  padding-right: 2.5%;
 }

 hr {
  display: block;
 }

 .thumbnail {
  float: left;
  width: 33.33%;
  height: 125px;
  padding: 0 5px;
 }

 .form-control {
  min-width: 90%;
  max-width: 90%;
  margin: 0 auto;
  padding: 5px 0;
 }

 .footer-row {
  height: 120px;
 }

 .copyright {
  position: relative;
  margin: 0 auto;
 }

 .social-links {
  margin-left: auto;
  margin-right: auto;
 }

}

/* ------------ MEDIUM DEVICES ----------*/

@media screen and (min-width:600px) {

 .brand-image {
  width: 100%;
 }

 .navbar-brand {
  width: 400px;
  padding-left: 5px;
  padding-top: 5px;
 }

 .nav-link {
  padding-right: 2.5%;
 }

 .flag {
  margin-right: 1.5%;
 }

 .fa.fa-bars {
  padding-top: 5px;
 }

 hr {
  display: none;
 }

 img.member-photo {
  padding-top: 5%;
 }

 .thumbnail {
  width: 250px;
  height: 275px;
 }

 .form-control {
  min-width: 70%;
  max-width: 70%;
  margin: 0 auto;
  padding: 5px 0;
 }

}

/* ------------ LARGE DEVICES ----------*/

@media only screen and (min-width: 1025px) {

 .brand-image {
  width: 100%;
 }
 .navbar-brand {
  width: 600px;
  padding-left: 0;
  padding-top: 5px;
 }

 hr {
  display: none;
 }

 .thumbnail {
  width: 350px;
  height: 375px;
 }


 .form-control {
  min-width: 50%;
  max-width: 50%;
 }
}

/* ------------ EXTRA LARGE DEVICES ----------*/

@media only screen and (min-width: 1200px) {
 hr {
  display: none;
 }

 .member-bio {
  max-width: 600px;
 }

 .form-control {
  min-width: 50%;
  max-width: 50%;
 }

}
