html,
body {
 width: 100%;
 height: 100%;
 margin: 0px;
 padding: 0px;
 overflow-x: hidden;
}

body {
 background-color: #fafafa;
 position: relative;
}

/* ------------ NAVBAR ----------*/

.navbar {
 background: none;
 border-color: transparent;
}

.navbar .navbar-collapse {
 text-align: right;
}

.fa-navicon {
 color: blue;
 width: 50px;
}

.navbar-expand-lg {
 padding-top: 20px;
 padding-bottom: 20px;
 padding-left: 30px;
 padding-right: 30px;
}

.nav-item {
 padding: 15px;
}

/* ------------ JUMBOTRON ----------*/

.jumbotron {
 background-image: url("../images/nuclear2.jpg");
 height: 99vh;
 background-attachment: fixed;
 border-radius: 0;
 background-size: cover;
 background-repeat: no-repeat;
 background-position: center;
}

header.jumbotron {
 padding: 0;
 margin: 0;
}

/* ------------ VIDEO ----------*/

.video {
 background-image: url("../images/rocketsilencefield.png");
 background-size: cover;
 background-position: center;
}

.video-container {
 padding: 4% 4% 4% 4%;
}

.video h1 {
 font-size: 3em;
 text-align: center;
 padding-top: 3%;
 padding-bottom: 0;
}

/* ------------ TOUR DATES ----------*/

.tour {
 background-image: url("../images/rocketsilencehero.png");
 background-size: cover;
 background-attachment: fixed;
 background-position: center;
}

.tour-heading {
 font-size: 3em;
 text-align: center;
 padding-top: 3%;
 padding-bottom: 3%;
}

.table {
 margin: 1px;
 position: relative;
}

.date-table {
 color: #ffffff;
 font-weight: bold;
 text-shadow: 2px 1px black;
}

/* ------------ ABOUT ----------*/

.about {
 background-image: url("../images/rocketsilenceboat.png");
 background-size: cover;
 background-attachment: fixed;
 background-position: center;
 padding: 0;
 margin: 0;
 z-index: 1
}

.about-heading {
 font-size: 3em;
 text-align: center;
 padding-top: 3%;
 padding-bottom: 3%;
 z-index: 5;
 color: #ffffff;
 text-shadow: 1px 1px black;
}


.member {
 text-align: center;
 margin: 0 auto;
 z-index: 5;
}

.member-photo {
 width: 400px;
 height: 550px;
 padding: 20px;
 z-index: 5;
}

.member-heading {
 color: #ffffff;
 text-shadow: 1px 1px black;
 z-index: 5;
}

.member-bio {
 color: #ffffff;
 text-shadow: 1px 1px black;
 font-weight: bold;
 line-height: 30px;
 z-index: 5;
}

.translucent-overlay {
 position: relative;
}

.translucent-overlay:after {
 content: " ";
 z-index: 2;
 display: block;
 position: absolute;
 height: 100%;
 top: 0;
 left: 0;
 right: 0;
 background: rgba(0, 0, 0, 0.4);
}

/* ------------ MUSIC ----------*/

.music {
 background-color: #000000;
 background-size: cover;
 padding: 30px;
}

.music-heading {
 color: #ffffff;
 font-size: 3em;
 text-align: center;
 padding-bottom: 20px;
}

.card {
 background-color: #000000;
 text-align: center;
 color: #ffffff;
}

.card-img-top {
 border-radius: 5px;
}
